target

/.settings/org.maven.ide.eclipse.prefs
/.settings/org.eclipse.m2e.core.prefs
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.pde.core.prefs
*/.settings/org.maven.ide.eclipse.prefs
*/.settings/org.eclipse.m2e.core.prefs
*/.settings/org.eclipse.core.resources.prefs
*/.settings/org.eclipse.pde.core.prefs
*/.settings/org.sonar.ide.eclipse.core.prefs

*.orig
*.swp
.classpath
.metadata
.repository
.project

og-configuration/log/*
og-configuration/object/*

